@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-main {
  background-color: #83B3D3;
}

.button-special {
  background-color: #756257;
}

/* Главная страница */

/* Панель навигации */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list:first-of-type {
  width: 400px;
  margin-left: 30px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.button-small {
  font-size: 16px;
  color: #ffffff;
}

/* Основное содержимое */
.main-index-header {
  width: 1200px;
  min-height: 485px;
  background-color: #8f0d0d;
  background-image: url("../images/index-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

.main-container {
  flex-grow: 1;
}

/*  Причины */
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-text-container {
  width: 400px;
  min-height: 384px;
}

.reasons-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reasons-text {
  font-size: 22px;
  line-height: 36px;
}

.reasons-item-container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item:nth-of-type(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-of-type(2n+1):not(.reasons-item-container) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-of-type(2n):not(.reasons-item-container) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:not(.reasons-item-container) {
  width: 400px;
  min-height: 384px;
}

.reasons-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-item-text:not(:first-of-type):not(:nth-of-type(2)) {
  color: #333333;
}

.advantages-text {
  color: #333333;
}

/* Поиск отеля */
.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-button {
  font-size: 20px;
  line-height: 36px;
}

/* Подписка */
.subscribe {
  width: 1200px;
  min-height: 411px;
}

.index-subscribe {
  color: #ffffff;
  background-image: url("../images/footer-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 411px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
}

/* Социальные сети */
.social {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.social-list {
  width: 107px;
  margin: 0;
  padding: 0;
}

.page-footer-address {
  width: 720px;
  margin-left: 61px;
}

.page-footer-address a {
  width: 115px;
  margin-left: auto;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* Каталог */

.main-catalog {
  text-align: left;
}

/* Хедер каталога */
.catalog-top-container {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1200px 408px;
}

.catalog-header-title {
  margin-left: 72px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-left: 72px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/* Форма выбора гостиницы */
.filters {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.filters-group-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.checkbox {
  line-height: 23px;
}

.radio-button {
  line-height: 23px;
}

.price-field {
  line-height: 23px;
}

.submit-button {
  font-size: 16px;
  line-height: 21px;
}

.reset-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
}

/* Список гостиниц */
.catalog {
  display: flex;
  width: 1056px;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-result-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.catalog-result-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-displaytype {
  margin: 0;
  padding: 0;
}

/* Карточки гостиниц */
.catalog-card-list {
  margin: 0;
  padding: 0;
}

.catalog-card-link {
  text-decoration: none;
}

.card-link-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.button-card {
  background-color: #7DB54F;
}

.catalog-card-text {
  line-height: 23px;
  color: #333333;
}

.card-text-special {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog-button {
  width: 620px;
  font-size: 20px;
  line-height: 26px;
  align-self: center;
}

/* Пагинация */
.catalog-pagination {
  margin: 0;
  padding: 0;
}

.catalog-pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.catalog-pagination-item:first-child .catalog-pagination-link {
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-pagination-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-subscribe {
  color: #000000;
}
